*{
    margin: 0;
    padding: 0;
    }

   
      
body {
  background: linear-gradient(to bottom, #e6e7e9 50%, #82e3ea 100%);
}

nav{

  display: flex;
    background-color: #e6e7e9;
    margin-left: 359px;
    margin-top: -50px;
    align-items: center;
    column-gap: 40px;
    padding: 108px;
}

a{
 text-decoration: none;
 color: black;
 
}



.nav1{
  
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-family:"Sofia", sans-serif;
  border-color:  #e6e7e9;

}
.nav1:hover {
  background-color:#009ead;
  transition: 0.9s;
}

.nav2{
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-family:"Sofia", sans-serif;
  border-color:  #e6e7e9;

}
.nav2:hover {
  background-color:#009ead;
  transition: 0.9s;
}

.nav3{
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-family:"Sofia", sans-serif;
  border-color:  #e6e7e9;

}
.nav3:hover {
  background-color:#009ead;
  transition: 0.9s;
}

.nav4{
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-family:"Sofia", sans-serif;
  border-color:  #e6e7e9;

}
.nav4:hover {
  background-color:#009ead;
  transition: 0.9s;
}

.nav5{
  width: 170px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-family:"Sofia", sans-serif;
  border-color:  #e6e7e9;

}
.nav5:hover {
  background-color:#009ead;
  transition: 0.9s;
}


#intro{
    display: flex;
    font-size: 40px;
    font-family: "Sofia", sans-serif;
    margin-left: 667px;
    margin-top: -370px;
    color: black;
   
}
  



#logo3 {
    display: flex;
    width: 417px;
    margin-left: 109px;
    height: 623px;
    margin-top: -87px;
}


.flex-container {
    display: flex;
    flex-direction: row;
    font-family:"Sofia", sans-serif;
    justify-content: center;
    
    font-size: 40px;
    margin-top: 72px;
}
.one{
margin-right: 142px;

}
.two{
    margin-right: 142px;
}

.three{
    margin-right: -59px;

}

.four{
  
    margin-right: 251px;
    margin-left: 275px;
    border-radius: 17px;
    background-color: black;
  
}

.four:hover{
  background-color:#009ead;
transition: 0.7s;
}

.five{
    margin-right: 177px;
    border-radius: 17px;
    background-color: black;
}
.five:hover{
  background-color:#009ead;
transition: 0.7s;
}

.six{

    border-radius: 17px;
    background-color: black;
}
.six:hover{
  background-color:#009ead;
transition: 0.7s;
}



  .flex-container2 {
    display: flex;
    flex-direction: row;
    font-family:"Sofia", sans-serif;
    font-size: 25px;
    color: #e6e7e9;
  }