
*{
    margin: 0;
    padding: 0;
    }

    nav{

        display: flex;
          margin-left: 259px;
          margin-top: -98px;
          align-items: center;
          column-gap: 40px;
          padding: 108px;
      }
      
      
      #logo{
        height:150px ;
        width: 200px;
        margin-top: -10px;
        margin-right: 20px;
        margin-bottom: -10px;
        margin-left: -240px;
      }

.nav0{

    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    border-color:  #000000;
  
  }
  .nav0:hover {
    background-color:#000000;
    color: #e6e7e9;
    transition: 0.9s;
  }
  
  .nav1{
  
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    border-color:  #000000;
  
  }
  .nav1:hover {
    background-color:#000000;
    color: #e6e7e9;
    transition: 0.9s;
  }
  
  .nav2{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    border-color:  #000000;
  
  }
  .nav2:hover {
    background-color:#000000;
    color: #e6e7e9;
    transition: 0.9s;
  }
  
  .nav3{
    width: 130px;
    height: 40px;
    border-radius: 10px;
    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    border-color:  #000000;
  
  }
  .nav3:hover {
    background-color:#000000;
    color: #e6e7e9;
    transition: 0.9s;
  }
  
  .nav4{
    width: 250px;
    height: 40px;
    border-radius: 10px;
    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    border-color:  #000000;
  
  }
  .nav4:hover {
    background-color:#000000;
    color: #e6e7e9;
    transition: 0.9s;
  }
  
  .nav5{
    width: 170px;
    height: 40px;
    border-radius: 10px;
    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    border-color:  #000000;
  
  }
  .nav5:hover {
    background-color:#000000;
    color: #e6e7e9;
    transition: 0.9s;
  }
  body{
    background-image: linear-gradient(to right, #36d1dc , #5b86e5);
  }

  .text1{
    font-size: 190px;
    font-family:'Courier New', Courier, monospace;
margin-left: 390px;
margin-top: -150px;
-webkit-text-fill-color: #e6e7e9; /* Will override color (regardless of order) */
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #e6e7e9;
  }
  .text2{
    font-size: 190px;
    font-family:'Courier New', Courier, monospace;
margin-left: 390px;
margin-top: 10px;
color: #e6e7e9;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #e6e7e9;
  }
  .home{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 19px;
    font-family:'Courier New', Courier, monospace;
    border-color:  #000000;
    margin-left: 689px;
    margin-top: -px;
  }
  .home:hover {
    background-color:#000000;
    color: #e6e7e9;
    transition: 0.9s;
  }
  .ref{
    font-family:'Courier New', Courier, monospace;
  font-size: 40px;
  color: #e6e7e9
  }

