*{
    margin: 0;
    padding: 0;
    }

    body{
  
     background-color: #e6e7e9;
    }

nav{
  display: flex;
    background-color: #e6e7e9;
    margin-left: 359px;
    margin-top: -98px;
    align-items: center;
    column-gap: 40px;
    padding: 108px;
}

a{
 text-decoration: none;
 color: black;
 
}

#logo{
  height:150px ;
  width: 200px;
  margin-top: -10px;
  margin-right: 20px;
  margin-bottom: -10px;
  margin-left: -240px;
}

#nav1{
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-family:"Sofia", sans-serif;
  border-color:  #e6e7e9;

}

#nav2{
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-family:"Sofia", sans-serif;
  border-color:  #e6e7e9;

}

#nav3{
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-family:"Sofia", sans-serif;
  border-color:  #e6e7e9;

}

#nav4{
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-family:"Sofia", sans-serif;
  border-color:  #e6e7e9;

}

#nav5{
  width: 170px;
  height: 40px;
  border-radius: 10px;
  font-size: 22px;
  font-family:"Sofia", sans-serif;
  border-color:  #e6e7e9;

}

#Msg{
  width: 189px;
  height: 99px;
  border-radius: 59px;
  color: #e6e7e9;
  background-color: black;
  font-size: 55px;
  font-family: "Sofia", sans-serif;
  margin-left: 446px;
  margin-top: 4px;
}
#logo2{
  width: 600px;
  height: 803px;
  margin-left: 768px;
  margin-top: -209px;
  }

h1 {
  font-family: "Sofia", sans-serif;
  margin-top: -547px;
  margin-left: 408px;
  font-size: 49px;
}
  #Quoate{
    height: 391px;
    border-radius: 135px;
    margin-left: 221px;
    margin-top: 75px;
    background-color: black;
    color: #e6e7e9;
    font-size: 55px;
    font-family: "Sofia", sans-serif;
    white-space:normal;
    width: 590px;
  
}
  
/* }
#logo3{
  width: 93px;
      height: px;
      height: 100px;
      margin-bottom: -476px;
      margin-left: 196px;
}
#logo4{
  width: 195px; 
  height: 107px;
   margin-bottom: -479px;
    margin-left: 126px;
  }
  
  #logo5{
    width: 118px;
     height: 100px; 
     margin-bottom: -476px;
      margin-left: 84px; 
    }
     */

