*{
    margin: 0;
    padding: 0;
    }

    
body {

  
  
  
  background-image: linear-gradient(to right, #43c6ac , #f8ffae);
}
#logo{
  height:150px ;
  width: 200px;
  margin-top: -10px;
  margin-right: 20px;
  margin-bottom: -10px;
  margin-left: -240px;
}
nav{

  display: flex;

    margin-left: 359px;
    margin-top: -98px;
    align-items: center;
    column-gap: 40px;
    padding: 108px;
}

.nav1{
  
  width: 100px;
  height: 40px;
  border-radius: 10px;
  font-size: 19px;
  font-family:'Courier New', Courier, monospace;
  border-color:  #000000;

}
.nav1:hover {
  background-color:#000000;
  color: #e6e7e9;
  transition: 0.9s;
}

.nav2{
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-size: 19px;
  font-family:'Courier New', Courier, monospace;
  border-color:  #000000;

}
.nav2:hover {
  background-color:#000000;
  color: #e6e7e9;
  transition: 0.9s;
}

.nav3{
  width: 130px;
  height: 40px;
  border-radius: 10px;
  font-size: 19px;
  font-family:'Courier New', Courier, monospace;
  border-color:  #000000;

}
.nav3:hover {
  background-color:#000000;
  color: #e6e7e9;
  transition: 0.9s;
}

.nav4{
  width: 250px;
  height: 40px;
  border-radius: 10px;
  font-size: 19px;
  font-family:'Courier New', Courier, monospace;
  border-color:  #000000;

}
.nav4:hover {
  background-color:#000000;
  color: #e6e7e9;
  transition: 0.9s;
}

.nav5{
  width: 170px;
  height: 40px;
  border-radius: 10px;
  font-size: 19px;
  font-family:'Courier New', Courier, monospace;
  border-color:  #000000;

}
.nav5:hover {
  background-color:#000000;
  color: #e6e7e9;
  transition: 0.9s;
}


p{
  color: black;
  font-family: "Sofia", sans-serif;
  font-size: 40px;
  margin-left: 219px;
  margin-top: 100px;
}


.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;

}

.bi{
  padding: 15px;
  font-size: 30px;
  width: 90px;
  height: 10px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}
.bi:hover{
  opacity: 0.7;
}


.fa-facebook {
  background: #0f37c6;
  color: white;
  margin-left: 500px;
}


.bi-tiktok {
  background: #000000;
  color: white;
  margin-left: 200px;
 
}

.fa-linkedin {
  background: #0392ff;
  color: white;
  margin-left: 200px;
}

.video{
  width: 500px;
  height: 529px;
  margin-top: -56px;
  margin-left: 246px;
  background-color: #000000;
 border-radius: 20px;
}
h1{
  font-family:"Sofia", sans-serif;
 color:  black;
 width: 500px;
 height: 300px;
 margin-left: 816px;
 margin-top: -540px;

 
}
h2{
  font-family:"Sofia", sans-serif;
  color:  black;
  margin-left: 1036px;
  margin-top: 197px;
}